/* COMMON */
.wrapper-center{
  display: flex;
  justify-content: center;
}
.wrapper-cursor{
  cursor: pointer;
}
li{
  cursor: pointer;
}
/* */
.header-top{
  /* BOX */
  height: 80px;
  /* POSITIONING */
  display: flex;
  position: relative;
  /* EFFECT */
  border-bottom: 1px solid #d0d0d0;
}
.header-top .logo{
  /* POSITIONING */
  display: flex;
  position: absolute;
  left: 75px;
  top: 50%;
  transform: translate(0%, -50%);
  /* ETC */
  cursor: pointer;
}
.header-top .search{
  /* POSITIONING */
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px;
  /* EFFECT */
  border: 1.5px solid #d0d0d0;
	border-radius: 25px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  /* ETC */
  cursor: pointer;
}
.header-top .search:hover{
  /* EFFECT */
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.header-top .search .search__where{
  /* BOX */
  height: 40px;
  width: 100px;
  /* POSITIONING */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top .search .search__when{
  /* BOX */
  height: 40px;
  width: 100px;
  /* POSITIONING */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top .search .search__guest{
  /* BOX */
  height: 40px;
  width: 140px;
  /* POSITIONING */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-top .search .search__guest .search-text{
  /* BOX */
  width: 70px;
}
.header-top .search .search__guest .search-icon{
  /* COLOR */
  background-color: #FF385C;
  /* BOX */
  height: 32px;
  width: 32px;
  /* POSITIONING */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  /* EFFECT */
  border-radius: 50%;
}
.header-top .search .search__guest .search-icon .material-symbols-outlined{
  /* Font */
  color: #fff;
  font-size: 18px;
}
.header-top .search .search__where .search-inner,
.header-top .search .search__when .search-inner{
  /* BOX */
  width: inherit;
  height: 20px;
  /* POSITIONING */
  display: flex;
  justify-content: center;
  align-items: center;
  /* EFFECT */
  border-right: 1px solid #d0d0d0;
}
.header-top .search .search__where .search-text,
.header-top .search .search__when .search-text{
	/* Font & Text */
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
	/* Color & Background */
	color: rgb(34, 34, 34);
}

.header-top .search .search__guest .search-text{
/* Font & Text */
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-weight: 400;
/* Color & Background */
color: rgb(113, 113, 113);
}

.header-top .profile{
  /* POSITIONING */
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
}
.header-top .profile .profile-doairbnb{
  /* BOX */
  height: 42px;
  padding: 0px 16px;
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Effect */
  border-radius: 20px;
  /* ETC */
  cursor: pointer;
}
.header-top .profile .profile-doairbnb:hover{
  background-color: #f7f7f7;
}
.header-top .profile .profile-language{
  /* BOX */
  width: 42px;
  height: 42px;
  margin-left: 0px;
  margin-right: 15px;
  /* font */
  font-size: 16px;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Effect */
  border-radius: 20px;
  /* ETC */
  cursor: pointer;
}
.header-top .profile .profile-language:hover{
  background-color: #f7f7f7;
}
.header-top .profile .profile-mypage{
  /* BOX */
  width: 72px;
  height: 42px;
  /* Positioning */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* Effect */
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  /* ETC */
  cursor: pointer;
}
.header-top .profile .profile-mypage:hover{
box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.header-top .profile .profile-mypage__menu{
  /* font */
  font-size: 15px;
  color: #5d5d5d;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top .profile .profile-mypage__icon{
  /* font */
  font-size: 25px;
  color: #5d5d5d;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* heaer-bottom - CATEGORY*/
.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .category{
  padding-right: 20px;
}
.header-bottom .category .swiper {
  width: 1650px;
  height: 78px;
}
.header-bottom .category .swiper .swiper-wrapper .swiper-slide{
  color: #5d5d5d;
  width: 56px;
  height: 56px;
  /* ETC */
  cursor: pointer;
}
.header-bottom .category .swiper .swiper-wrapper .swiper-slide:hover{
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #5d5d5d;
}

.header-bottom .category .swiper .category__icon{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-bottom .category .swiper .category__icon-name{
  font-size: 12px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.header-bottom .category .swiper .swiper-button-prev{
  transform: translate(-50%, -10%);
}
.header-bottom .category .swiper .swiper-button-next{
  transform: translate(50%, -10%);
}
/* heaer-bottom - Filter */
.header-bottom .filter{
  /* BOX */
  width: 80px;
  height: 48px;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Effect */
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  /* ETC */
  cursor: pointer;
}
.header-bottom .filter .filter__icon .material-symbols-outlined{
  font-size: 20px;
  padding-right: 5px;
}

.header-bottom .filter .filter__text{
  /* Font & Text */
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 600;
	/* Color & Background */
	color: rgb(34, 34, 34);
}

/* CONTENTS */
.contents{
  /* Box */
  width: 1743px;
  /* Positioning */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.contents .contents-card{
 /* Box */
  height: 357px;
  width: 270px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* Positioning */
  position: relative;
  /* effect */
  border-radius: 12px;
  /* ETC */
  cursor: pointer;
}
.contents .contents-card .contents-card__image{
  /* Box */
  height: 257px;
  width: 270px;
  /* effect */
  border-radius: 12px;
}
.contents .contents-card .contents-card__bookmark{
  /* Positioning */
  position: absolute;
  top: 10px;
  right: 10px;
  /* font */
  font-size: 23px;
	/* Color & Background */
  color: #fff;
}
.contents .contents-card .contents-card__title{
  /* Box */
  padding-top: 5px;
  /* Positioning */
  display: flex;
  position: relative;
}
.contents .contents-card .contents-card__title__area{
  /* font */
  font-weight: 600;
}
.contents .contents-card .contents-card__title__grade{
  /* positioning */
  position: absolute;
  right: 0px;
}
.contents .contents-card .contents-card__distance{
  /* Box */
  padding-top: 5px;
}
.contents .contents-card .contents-card__date{
  /* Box */
  padding-top: 5px;
}
.contents .contents-card .contents-card__price{
  /* Box */
  padding-top: 10px;
  /* font */
  font-weight: 600;
}

/* FOOTER */
footer .footer-top{
  /* BOX */
  height: 200px;
  /* Color */
  background-color: #fff;
}
footer .footer-top .moreLook{
}

footer .footer-top .moreLook .moreLook__text{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  /* Box */
  padding-top: 30px;
  padding-bottom: 20px;
  /* ETC */
  cursor: pointer;
}
footer .footer-top .moreLook .moreLook__icon{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  /* box */
  width: 100px;
  height: 50px;
  /* Color */
  color: #fff;
  background-color: #222;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  /* effect */
  border-radius: 5px;
  /* ETC */
  cursor: pointer;
}
footer .footer-bottom {
  /* Color */
  background-color: #f7f7f7;
}
footer .footer-bottom .wrapper-center--longline{
  /* Positioning */
  display: flex;
  justify-content: center;
  /* Effect */
  border-bottom: 1px solid #d0d0d0;
}
footer .footer-bottom .recommend{
  /* Box */
  width: 1130px;
}
footer .footer-bottom .recommend .recommend__title{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 600;
  /* Box */
  padding-top: 50px;
}
footer .footer-bottom .recommend .recommend__menu{
  /* Effect */
  border-bottom: 1px solid #d0d0d0;
}
footer .footer-bottom .recommend .recommend__menu ol{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  /* Positioning */
  display: flex;
}
footer .footer-bottom .recommend .recommend__menu ol li{
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
footer .footer-bottom .recommend .recommend__contents{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
footer .footer-bottom .recommend .recommend__contents ol{
  /* Box */
  padding-bottom: 50px;
  /* Positioning */
  display: grid;
  grid-template-columns: repeat(6, 1fr);;
}
footer .footer-bottom .recommend .recommend__contents ol li{
  padding-top: 20px;
  padding-bottom: 10px;
}
footer .footer-bottom .support{
  /* Box */
  width: 1130px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* Positioning */
  display: flex;
  /* Effect */
  border-bottom: 1px solid #d0d0d0;
}
footer .footer-bottom .support ol{
  width: calc(1130px/3);
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
footer .footer-bottom .support ol li{
  /* Box */
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer-bottom .support--title{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
footer .footer-bottom .info{
  /* Box */
  width: 1130px;
  padding-top: 30px;
  padding-bottom: 10px;
  /* Effect */
  border-bottom: 1px solid #d0d0d0;
}
footer .footer-bottom .info ol{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  /* Positioning */
  display: flex;

}
footer .footer-bottom .info ol li{
  /* Box */
  padding-right: 5px;
}
footer .footer-bottom .info ol li::before{
  content: " · ";
  /* Box */
  padding-right: 5px;
}
footer .footer-bottom .info ol li:first-child:before{
  display: none;
}
footer .footer-bottom .copyright{
  /* Font & Text */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  /* Box */
  width: 1130px;
  padding-top: 10px;
  padding-bottom: 20px;
  /* Color */
  color: #717171;
}
